body {
    font-family: 'Hind', sans-serif;
}

#logo {
    height: 75px;
}

#nav {
    height: 100px;
}

.event-code {
    width: 10px;
    height: 10px;
    margin-right: 10px;
    border-radius:50%;
    display: inline-block;
}

.Philanthropy {
    background: #9932cc;
}

.Recruiting {
    background: #ffff00;
}

.Training {
    background: #4169e1;
}

.Marketing {
    background: #f00;
}

#profileList > .list-group-item, h3 {
    text-align: center;
}

.eventName {
    font-size: 125%;
}

.contact {
    font-weight: 600;
}

.itlp-badge {
    margin-left: 10px;
}

.noType {
    list-style-type: none;
    text-align: center;
}

.navbar-right {
    margin-right: inherit;
    margin-top: 30px;
}

.dropdown {
    display: inline-block;
    padding-left: 14px;
}

#right-user-points {
    margin: auto;
    display: block;
    width: 50%;
    margin-bottom: 15px;
}

.approve-button {
    margin-right: 10px;
}

.committee-list {
    margin-left: -10px;
    margin-right: 10px;
}