.event-code {
    width: 10px;
    height: 10px;
    border-radius:50%;
    float:left;
}

.Philanthropy {
    background: #9932cc;
}

.Recruiting {
    background: #ffff00;
}

.Training {
    background: #4169e1;
}

.Marketing {
    background: #f00;
}

.list-group-item, h3 {
    text-align: center;
}