<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>BD Gamification</title>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular-route.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
		<!-- Custom CSS -->
		<link rel="stylesheet" href="style.css">
		<!-- Custom Scripts -->
		<script src="app.js"></script>
		<script src="userController.js"></script>
		<script src="leaderboardController.js"></script>
	</head>
	<body>
		<div ng-app="bd_gamification">
			<!-- Navigation Header -->
			<nav class="navbar navbar-default">
			  <div class="container-fluid">
			    <div class="navbar-header">
			      <a class="navbar-brand" href="#">
			        <img alt="Brand" src="/bd_logo.png" height="25px">
			      </a>
			    </div>
			    <p class="navbar-text navbar-right" style="margin-right: inherit;">Sign Out</p>
			  </div>
			</nav>
			<!-- End Navigation Header -->
			<div class="container">
				<!-- Leaderboard -->
				<div ng-controller="leaderboardCtrl" class="col-xs-10" style="background-color: blue;">
					<nav class="navbar navbar-default">
					  <div class="container-fluid">
					    <div class="navbar-header">
					      <a class="navbar-brand" href="#">
					        Leaderboard
					      </a>
					    </div>
				      <ul class="nav navbar-nav navbar-right">
				        <li class="dropdown">
				          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Class Year <span class="caret"></span></a>
				          <ul class="dropdown-menu">
				            <li><a href="#">1st Year</a></li>
				            <li><a href="#">2nd Year</a></li>
				            <li><a href="#">3rd Year</a></li>
				          </ul>
				        </li>
				      </ul>
					  </div>
					</nav>
					<div>
						<ul class="list-group">
							<li ng-repeat="user in users" class="list-group-item justify-content-between">
								{{user.name}}
								<span class="badge badge-default badge-pill">{{user.points}}</span>
							</li>
						</ul>
					</div>
				</div>
				<!-- End Leaderboard -->
				<!-- Right Profile Column -->
				<div ng-controller="userCtrl" class="col-xs-2" style="background-color: red;">
					<div>
						<img alt="Profile image" ng-src="{{user.image}}" width="100%"/>
						<h3>{{user.name}}</h3>
						<ul class="list-group">
							<li class="list-group-item justify-content-between">
								<a href="event.html">Events</a>
							</li>
							<li class="list-group-item justify-content-between">
								<a href="itlp.html">ITLPs</a>
							</li>
							<li class="list-group-item justify-content-between">
								Leaderboard
							</li>
							<li class="list-group-item justify-content-between">
								<a href="approval.html">Approval</a>
							</li>
						</ul>
					</div>
				</div>
				<!-- End Right Profile Column -->
			</div>
		</div>
	</body>
</html>