<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>BD Gamification</title>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular-route.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
		<script src="script.js"></script>
	</head>
	<body>
		<div ng-app="bd_gamification">
			<div>
				<img src="/bd_logo.png" height="100px" width="180px" />
				<p style="float: right; margin-right: 20px; margin-top: 10px;">Welcome, ITLP | Sign Out</p>
			</div>
		<nav class="navbar navbar-default">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <a class="navbar-brand" href="#">
		        <img alt="Brand" src="/bd_logo.png" height="100px" width="180px">
		      </a>
		    </div>
		    <p class="navbar-text navbar-right">Signed in as <a href="#" class="navbar-link">Mark Otto</a></p>
		  </div>
		</nav>

			<div style="float: right;">
				<img src="profile_pic.png" width="200px" style="margin-right: 100px;" />
				<h3 style="padding-left: 10px;">ITLP 7,000pts</h3>
				<ul class="list-group" style="margin-right: 100px; width: 200px;">
					<li class="list-group-item justify-content-between" style="text-align: center;">
						<a href="event.html">Events</a>
					</li>
					<li class="list-group-item justify-content-between" style="text-align: center;">
						<a href="itlp.html">ITLPs</a>
					</li>
					<li class="list-group-item justify-content-between" style="text-align: center;">
						Leaderboard
					</li>
					<li class="list-group-item justify-content-between" style="text-align: center;">
						<a href="approval.html">Approval</a>
					</li>
				</ul>
			</div>
			<div style="margin-left: 200px;">
				<h1 style="float: left;">Badges</h1>
				<div style="width: 500px; float: left; clear: both; margin-top: -400px;">
					<span><img src="/bd_logo.png" style="height:25px; width:25px;">Time Keeper</img></span>
					<span><img src="/bd_logo.png" style="height:25px; width:25px;">Charity Champion</img></span>
					<span><img src="/bd_logo.png" style="height:25px; width:25px;">Two week Streak</img></span>
				</div>
			</div>
			<div style="margin-left: 200px; margin-top: -100px;">
				<span style="float: left ;margin-top: 280px;"><h1 >Upcoming Events</h1><a href="#">View Calendar</a></span>
				<div style="width: 500px; float: left; clear: both; margin-top: -200px;">
					<ul class="list-group" style="display:block, height:100%, width:100%">
						<li class="list-group-item justify-content-between" >
							<div id="circle" style="background: #9932cc; width: 10px; height: 10px; border-radius:50%;float:left;"></div>Philanthropy Hosting Event
							<span class="badge badge-default badge-pill">300 Points</span>
							<p style="font-size: 75%">Details about philanthropy hosting event</p>
							<h4 style="font-size:75%"><br><strong>Primary Contact: Jane Smith - smithj@bd.com</strong></h4>
							<button style="margin-left: 300px">Cancel Attendance</button>
						</li>
						<li class="list-group-item justify-content-between">
							<div id="circle" style="background: #4169e1; width: 10px; height: 10px; border-radius:50%;float:left;"></div>Time Sheet Compliance
							<span class="badge badge-default badge-pill">100 Points</span>
							<p style="font-size: 75%">Details about time sheet compliance</p>
							<h4 style="font-size:75%"><br><strong>Primary Contact: Jane Smith - smithj@bd.com</strong></h4>
							<button style="margin-left: 300px">Cancel Attendance</button>
						</li>
						<li class="list-group-item justify-content-between">
							<div id="circle" style="background: #f00; width: 10px; height: 10px; border-radius:50%;float:left;"></div>Annual Meeting Planning
							<span class="badge badge-default badge-pill">200 Points</span>
							<p style="font-size: 75%">Details about annual meeting planning</p>
							<h4 style="font-size:75%"><br><strong>Primary Contact: Jane Smith - smithj@bd.com</strong></h4>
							<button style="margin-left: 300px">Cancel Attendance</button>
						</li>
					</ul>
					<div>
						<ul style="overflow: auto">
							<li style="display: inline;width: 10px;height: 10px;background-color:  #9932cc; border-radius: 50%; float:left;margin-left:5px;"></li>
							<span style=" float:left; margin-left:10px;"> Philanthropy</span>
							<li style="display: inline;width: 10px;height: 10px;background-color:  #ffff00; border-radius: 50%; float:left;margin-left:5px;"></li>
							<span style=" float:left; margin-left:10px;"> Recruiting</span>
							<li style="display: inline;width: 10px;height: 10px;background-color:  #4169e1; border-radius: 50%; float:left;margin-left:5px;"></li>
							<span style=" float:left; margin-left:10px;"> Initiatives/Training</span>
							<li style="display: inline;width: 10px;height: 10px;background-color:  #f00; border-radius: 50%; float:left;margin-left:5px;"></li>
							<span style=" float:left;margin-left:10px;"> Marketing</span>
					</ul>
				</div>
			</div>
			<!-- <div>
				<nav class="navbar navbar-inverse" role="navigation" style="padding-left:130px;">
					<ul class="nav navbar-nav">
						<li class="active"><a href="/">Home<span class="sr-only">(current)</span></a></li>
						<li><a href="/about">About us</a></li>
						<li><a href="/contact">Contact us</a></li>
					</ul>
				</nav>
			</div>
			<br/> -->
			<!-- <div class="jumbotron">
				<p>This is place to put content. You can put slider, short description about your website and place some links for navigation.
				</p>
			</div> -->
		</div>
	</body>
</html>